IMGLINE0 BITMAP "Line1.bmp"

IMGLINE1 BITMAP "Line2.bmp"

IMGLINE2 BITMAP "Line3.bmp"

IMGLINE3 BITMAP "Line4.bmp"

IMGPLANE1 BITMAP "Plane1.bmp"

IMGPLANE2 BITMAP "Plane2.bmp"

IMGPLANE3 BITMAP "Plane3.bmp"

IMGPLANE4 BITMAP "Plane4.bmp"

IMGPLANE5 BITMAP "Plane5.bmp"

IMGPLANE6 BITMAP "Plane6.bmp"

IMGPLANE7 BITMAP "Plane7.bmp"

IMGPLANE8 BITMAP "Plane8.bmp"

IMGPLANE9 BITMAP "Plane9.bmp"

