pkgbase = inrm3d-git
	pkgdesc = inRm3D
	pkgver = 2.869.r26.g6f19a6e
	pkgrel = 1
	url = https://github.com/inRm3D/inRm3D.github.io
	arch = x86_64
	license = custom
	makedepends = git
	makedepends = lazarus
	makedepends = fpc
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk2
	depends = libx11
	depends = libxext
	depends = freeglut
	depends = glu
	depends = libglvnd
	depends = glibc
	depends = at-spi2-core
	depends = pango
	depends = cairo
	provides = inrm3d
	conflicts = inrm3d
	source = git+https://github.com/inRm3D/inRm3D.github.io.git
	sha256sums = SKIP

pkgname = inrm3d-git
